{% extends 'base.html' %}

{% block content %} 
    <div class="container">
            <div class="rol">
                <h3>Envio de Contato</h3>
                <p>Selecione um dos e-mails cadastrados por outros usuários para enviar uma mensagem privada.</p>
            </div>
            <form action="" method="post" class="row mt-4 p-4 rounded border shadow">
            
                {{form.csrf_token}}

                {{form.email.label()}}
                {{form.email(class="form-control")}}
                {{form.assunto.label()}}
                {{form.assunto(class="form-control")}}
                {{form.mensagem.label()}}
                {{form.mensagem(class="form-control")}}


                {{form.btnSubmit(class="btn btn-dark mt-4 col-12")}}
            </form>
            
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
{% endblock %}