{% extends 'base.html' %}

{% block content %} 
    <div>
        <h3>Estudo Flask</h3>
        <h5>@flask</h5>
    </div>

    <div>
        <p>Bem vindo {{context.usuario}} a aula de flask</p>
        <p><b>Idade:</b> {{context.idade}} </p>

        <img src="{{url_for('static', filename='img/Flask_txt.png')}}" alt="Flask">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
{% endblock %}